<IfModule mod_rewrite.c>
  # Bật chế độ rewrite
  RewriteEngine On

  # Xác định RewriteBase nếu cần (ở đây giả sử website của bạn nằm ở root)
  RewriteBase /

  # Chuyển tiếp tất cả các request đến URL /webhook tới Node.js chạy trên cổng 4000
  RewriteRule ^webhook$ http://127.0.0.1:4000/webhook [P,L]
</IfModule>

<IfModule mod_proxy.c>
  # Cho phép proxy các yêu cầu tới Node.js
  ProxyRequests Off
  <Proxy *>
    Order deny,allow
    Allow from all
  </Proxy>
</IfModule>
