<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^webhook$ http://127.0.0.1:4000/webhook [P,L]
</IfModule>

<IfModule mod_proxy.c>
  ProxyRequests Off
  <Proxy *>
    Require all granted
  </Proxy>
</IfModule>
